<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/div/html4/strict.dtd">
<html ng-app>
    <head>
        <title>2Minutes2Midnight</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS -->
        <link href="/public/css/main.css" rel="stylesheet" media="screen">
        <link href="/public/css/carousel.css" rel="stylesheet" media="screen">
        <!-- Required JS -->
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/jquery.carouFredSel.min.js"></script>
        <script src="/public/js/angular.min.js">
        </script>
        <script src="/node_modules/leapjs/leap.min.js"></script>
        <!-- Project JS -->
        <script src="/public/js/2m2m.min.js"></script>
    </head>

	<body>
        <div class="centerscreen">
            <div id="wrapper">
                <div id="c-carousel">
                    <div id="carousel">
                        <% for (var i=0; i<photos.length; i++) {%>
                            <div>
                            <img id="img<%= i %>" src="/photos/thumbs/<%= photos[i] %>" alt="img"/>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="messagecontainer" id="currentMessage">
                    <p></p>
                </div>
            </div>
            <div ng-controller="CountdownCtrl" style="padding: 10px;">
                {{counter}}
            </div>
        </div>
        <script>
            startAmbience(1000 * 60);
        </script>
    </body>
</html>
