<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2Minutes2Midnight</title>
        <!-- CSS -->
        <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/newmessage.css" rel="stylesheet">
        <!-- Required JS -->
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/angular.min.js"></script>
        <!-- Project JS -->
    </head>

	<body>
        <div class="container" ng-controller="remainingCharsCtrl">
            <div class="row">
                <div class="col-sm-offset-2 col-xs-12 col-md-8">
                    <h1>Don't be serious</h1>
                    <p>Send a message to your friends using this form. <b>{{getRemainingChars()}}</b> characters remaining.</p>
                    <form role="form" action="/messages/upload" method="post" id="sendMessageForm">
                        <div class="form-group">
                            <input type="text" class="form-control" name="message" placeholder="Enter your message" ng-model="message" ng-trim='false' maxlength="40"></input>
                        </div>
                        <button type="submit" class="btn btn-default">Send</button> <span id="sendMessageResult"></span>
                    </form>
                </div>
            </div>
        </div>
        <div id="result"></div>
        <script>
            function remainingCharsCtrl($scope) {
                $scope.getRemainingChars = function(){
                    if (!$scope.message)
                        return 40;
                    return 40 - $scope.message.length;
                };
            }

            $("#sendMessageForm").submit(function( event ) {
                event.preventDefault();
                var $form = $( this ),
                    mess = $form.find( "input[name='message']" ).val(),
                    url = $form.attr( "action" );
                $form.attr("disabled", true);
                var posting = $.post( url, { message: mess } );
                posting.done(function( data ) {
                    $("#sendMessageResult").show().html("Message sent!").delay(2000).fadeOut(400);
                });
                posting.fail(function( data ) {
                    $("#sendMessageResult").show().html("An error occurred! Please try again!").delay(2000).fadeOut(400);
                });
                posting.always(function( data ) {
                    $form.attr("disabled", false);
                });
            });
        </script>
    </body>
</html>
