<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2Minutes2Midnight</title>
        <!-- CSS -->
        <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/css/page.css" rel="stylesheet">
        <!-- Required JS -->
        <script src="/public/js/jquery.min.js"></script>
    </head>

	<body>
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-xs-12 col-md-8">
                    <h1>Send a photo</h1>
                    <p>subtitle <b>a photo</b> sub.</p>
                    <form role="form" action="/photos/upload" method="post" id="sendPhotoForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" class="form-control" name="photo" placeholder="Enter your photo"></input>
                        </div>
                        <button type="submit" class="btn btn-default">Send</button> <span id="sendPhotoResult"></span>
                    </form>
                </div>
            </div>
        </div>
        <div id="result"></div>
        <script src="/public/js/2m2mnewphoto.min.js"></script>
        <script>
            startAmbience(6000);
        </script>
    </body>
</html>
