#c-carousel {

}
#c-carousel {
    min-height: 300px;
}
#c-carousel * {
    font-family: Arial, Geneva, SunSans-Regular, sans-serif;
    font-size: 14px;
    color: #333;
}

#wrapper {
    background-color: #fff;
    width: 400px;
    height: 450px;
    padding: 30px;
}
#wrapper h3 {
    font-size: 20px;
}
#carousel img {
    display: block;
}
#carousel div {
    width: 400px;
    height: 400px;
}